{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {{utils.flashed_messages(messages)}}
            </div>
        </div>
    {% endif %}
    {% endwith %}
        <div class="jumbotron">
            <h1>Welcome to EMIS</h1>
            <p>
                Here you can see and manipulate the state of the EMIS
                services.
            </p>
            <!--
            <p>
                <a
                    class="btn btn-lg btn-default"
                    role="button"
                    href="http://pythonhosted.org/Flask-Bootstrap" >Show docs
                </a>
            </p>
            -->
        </div>

{#
        <h2>Aggregate methods</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Name</td>
                <th>Links</td>
                <th>Raw</td>
            </thead>
            <tbody>
    {% for method in methods.aggregate_methods %}
                <tr>
                    <td>{{ method.name }}</td>
                    <td>
                        <a href="{{ method._links.self }}">self</a>,
                        <a href="{{ method._links.collection }}">collection</a>
                    </td>
                    <td>{{ method }}</td>
                </tr>
    {% endfor %}
            <tbody>
        </table>
#}

        <h2>Properties</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>Name</td>
                <th>Pathname</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for property in properties.properties %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ property | pprint }}</pre>
                        </div>
                    </td>
                    <td
                        data-toggle="tooltip"
                        data-placement="auto"
                        title="{{ property.name }}">
                        {{ property.name | format_property_name }}
                    </td>
                    <!--
                    <td
                        data-toggle="popover"
                        data-placement="auto"
                        data-container="body"
                        title="pathname"
                        data-content="{{ property.pathname }}">
                    -->
                    <td
                        data-toggle="tooltip"
                        data-placement="auto"
                        title="{{ property.pathname }}">
                        {{ property.pathname | format_pathname }}
                    </td>
                    <td>
                        <a href="{{ property._links.self }}">self</a>,
                        <a href="{{ property._links.collection }}">
                            collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>

        <h2>Domains</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>Name</td>
                <th>Pathname</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for domain in domains.domains %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ domain | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ domain.name }}</td>
                    <td
                        data-toggle="tooltip"
                        data-placement="auto"
                        title="{{ domain.pathname }}">
                        {{ domain.pathname | format_pathname }}
                    </td>
                    <td>
                        <a href="{{ domain._links.self }}">self</a>,
                        <a href="{{ domain._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Aggregate queries</h2>
        <table class="table table-condensed">
            <thead>
                <th>Raw</td>
                <th>Id</td>
                <th>User</td>
                <th>Model</td>
                <th>Edit status</td>
                <th>Execute status</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for query in queries.aggregate_queries %}
                <tr
                    {% if query.execute_status == "pending" %} class="info"
                    {% elif query.execute_status == "queued" %} class="info"
                    {% elif query.execute_status == "succeeded" %} class="success"
                    {% elif query.execute_status == "failed" %} class="danger"
                    {% endif %}>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ query | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ query.id }}</td>
                    <td>{{ query.user }}</td>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ query.model | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ query.edit_status }}</td>
                    <td>{{ query.execute_status }}</td>
                    <td>
                        <a href="{{ query._links.self }}">self</a>,
                        <a href="{{ query._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Aggregate query results</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Raw</td>
                <th>Id</td>
                <th>Uri</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for result in results.aggregate_query_results %}
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ result | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ result.id }}</td>
                    <td><a href="/aggregate_query_results/{{ result.uri }}">uri</a></td>
                    <td>
                        <a href="{{ result._links.self }}">self</a>,
                        <a href="{{ result._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Event log</h2>
        <table class="table table-condensed table-striped">
            <thead>
                <th>Id</td>
                <th>Raw</td>
                <th>Timestamp</td>
                <th>Priority</td>
                <th>Severity</td>
                <th>Message</td>
                <th>Links</td>
            </thead>
            <tbody>
    {% for record in logs.logs %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>
                        <div class="dropdown">
                            <a href="#"
                                data-toggle="dropdown"
                                class="dropdown-toggle">
                                json <b class="caret"></b>
                            </a>
                            <pre class="dropdown-menu">{{ record | pprint }}</pre>
                        </div>
                    </td>
                    <td>{{ record.timestamp }}</td>
                    <td
                        {% if record.priority == "low" %} class="info"
                        {% elif record.priority == "high" %} class="danger"
                        {% endif %}>
                        {{ record.priority }}</td>
                    <td
                        {% if record.severity == "non_critical" %} class="info"
                        {% elif record.severity == "critical" %} class="danger"
                        {% endif %}>
                        {{ record.severity }}</td>
                    <td
                        {% if record.priority == "high" or record.severity == "critical" %} class="danger"
                        {% else %} class="info"
                        {% endif %}>
                        <pre>{{ record.message }}</pre></td>
                    <td>
                        <a href="{{ record._links.self }}">self</a>,
                        <a href="{{ record._links.collection }}">collection</a>
                    </td>
                </tr>
    {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}
