{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {{utils.flashed_messages(messages)}}
            </div>
        </div>
    {% endif %}
    {% endwith %}
        <div class="jumbotron">
            <h1>Welcome to EMIS</h1>
            <p>
                Here you can see and manipulate the state of the EMIS
                services.
            </p>
            <!--
            <p>
                <a
                    class="btn btn-lg btn-default"
                    role="button"
                    href="http://pythonhosted.org/Flask-Bootstrap" >Show docs
                </a>
            </p>
            -->
        </div>

{#
        <h2>Aggregate methods</h2>
        <table class="table">
            <thead>
                <th>Name</td>
                <th>Links</td>
                <th>Raw</td>
            </thead>
            <tbody>
    {% for method in methods.aggregate_methods %}
                <tr>
                    <td>{{ method.name }}</td>
                    <td>
                        <a href="{{ method._links.self }}">self</a>,
                        <a href="{{ method._links.collection }}">collection</a>
                    </td>
                    <td>{{ method }}</td>
                </tr>
    {% endfor %}
            <tbody>
        </table>
#}

        <h2>Properties</h2>
        <table class="table">
            <thead>
                <th>Name</td>
                <th>Pathname</td>
                <th>Links</td>
                <th>Raw</td>
            </thead>
            <tbody>
    {% for property in properties.properties %}
                <tr>
                    <td>{{ property.name }}</td>
                    <td>{{ property.pathname }}</td>
                    <td>
                        <a href="{{ property._links.self }}">self</a>,
                        <a href="{{ property._links.collection }}">
                            collection</a>
                    </td>
                    <td>{{ property }}</td>
                </tr>
    {% endfor %}
            <tbody>
        </table>

        <h2>Domains</h2>
        <table class="table">
            <thead>
                <th>Name</td>
                <th>Pathname</td>
                <th>Links</td>
                <th>Raw</td>
            </thead>
            <tbody>
    {% for domain in domains.domains %}
                <tr>
                    <td>{{ domain.name }}</td>
                    <td>{{ domain.pathname }}</td>
                    <td>
                        <a href="{{ domain._links.self }}">self</a>,
                        <a href="{{ domain._links.collection }}">collection</a>
                    </td>
                    <td>{{ domain }}</td>
                </tr>
    {% endfor %}
            <tbody>
        </table>


        <h2>Aggregate queries</h2>
        <table class="table">
            <thead>
                <th>User</td>
                <th>Model</td>
                <th>Edit status</td>
                <th>Execute status</td>
                <th>Links</td>
                <th>Raw</td>
            </thead>
            <tbody>
    {% for query in queries.aggregate_queries %}
                <tr>
                    <td>{{ query.user }}</td>
                    <td>{{ query.model }}</td>
                    <td>{{ query.edit_status }}</td>
                    <td>{{ query.execute_status }}</td>
                    <td>
                        <a href="{{ query._links.self }}">self</a>,
                        <a href="{{ query._links.collection }}">collection</a>
                    </td>
                    <td>{{ query }}</td>
                </tr>
    {% endfor %}
            <tbody>
        </table>

    </div>
{% endblock %}
